<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>My express</title>
    <meta name="keywords" content="">
	<meta name="description" content="">
    <meta name="author" content="templatemo">
    <!-- 
	Medigo Template
	http://www.templatemo.com/preview/templatemo_460_medigo
    -->

	<!-- Google Fonts -->
	<link href="http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700itali" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Raleway:400,900,800,700,500,200,100,600" rel="stylesheet">

	<!-- Stylesheets -->
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<link rel="stylesheet" href="/static/css/misc.css">
	<link rel="stylesheet" href="/static/css/orange-scheme.css">
	
	<!-- JavaScripts -->
	<script src="/static/js/jquery-1.10.2.min.js"></script>
	<script src="/static/js/jquery-migrate-1.2.1.min.js"></script>

	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	
	<style>
		.fa-heart-o,
		.fa-heart {
			font-size: 24px;
			color: red;
			cursor: pointer;
			margin-right: 10px;
		}

		.fa-heart-o {
			display: inline-block;
		}

		.fa-heart {
			display: none;
		}

		.fa-heart.liked {
			display: inline-block;
		}
		.fa-heart, .like {
			color: red;
		}
	</style>
</head>
<body>


	<div class="responsive_menu">
        <ul class="main_menu">
           
        </ul> <!-- /.main_menu -->
    </div> <!-- /.responsive_menu -->

	<header class="site-header clearfix">
		<div class="container">

			<div class="row">

				<div class="col-md-12">

					<div class="pull-left logo">
						
					</div>	<!-- /.logo -->

					<div class="main-navigation pull-right">

						<nav class="main-nav visible-md visible-lg">
							<ul class="sf-menu">
								
					            <% if(user){ %>

									<li><a href="#"><%= user.name %> </a></li>
									<li><a href="/dashboard">Dashboard </a></li>
									<li><a href="/logout">Logout </a></li>
									<% } else { %>
					            <li><a href="/signup">Do you want to be an Author ?  </a></li>
								<% } %>
							</ul> <!-- /.sf-menu -->
						</nav> <!-- /.main-nav -->

						<!-- This one in here is responsive menu for tablet and mobiles -->
					    <div class="responsive-navigation visible-sm visible-xs">
					        <a href="#nogo" class="menu-toggle-btn">
					            <i class="fa fa-bars"></i>
					        </a>
					    </div> <!-- /responsive_navigation -->

					</div> <!-- /.main-navigation -->

				</div> <!-- /.col-md-12 -->

			</div> <!-- /.row -->

		</div> <!-- /.container -->
	</header> <!-- /.site-header -->

	<div class="first-widget parallax" id="blog">
		<div class="parallax-overlay">
			<div class="container pageTitle">
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<h2 class="page-title">Blog</h2>
					</div> <!-- /.col-md-6 -->
					<div class="col-md-6 col-sm-6 text-right">
						<span class="page-location">Home / Blog</span>
					</div> <!-- /.col-md-6 -->
				</div> <!-- /.row -->
			</div> <!-- /.container -->
		</div> <!-- /.parallax-overlay -->
	</div> <!-- /.pageTitle -->

	<div class="container">	
		<div class="row">

			<div class="col-md-8 blog-posts">
				<div class="row">
					<div class="col-md-12">

						<% approvedPosts.forEach((post) => {
							// Split the post content into words
							const words = post.content.split(' ');
							// Get the first 10 words
							const limitedContent = words.slice(0, 10).join(' ');
						  %>
						<div class="post-blog">
							<div class="blog-image">
								<a href="blog-single.html">
									<img src="images/includes/blog2.jpg" alt="">
								</a>
							</div> <!-- /.blog-image -->
							<div class="blog-content">
								<span class="meta-date"><a href="#"><%= post.created_at %></a></span>
								<span class="meta-author"><a href="#"><%= post.user.name %></a></span>
								<h3><a href="/single-blog/<%= post.id %>"><%= post.title %></a></h3>
								<div class="heart-container">
									<span id="heart-<%= post.id %>" class="fa fa-heart-o like"></span>
								</div>
								
								<p class="light-text">
									<%= limitedContent %> <a href="/single-blog/<%= post.id %>">Continue Reading...</a>
									
								</p>
								
							</div> <!-- /.blog-content -->
						</div> <!-- /.post-blog -->
						<% }); %>
					</div> <!-- /.col-md-12 -->
					<div class="col-md-12">
						<ul class="pages">
							<li><a href="#" class="active">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">...</a></li>
							<li><a href="#">13</a></li>
						</ul>
					</div> <!-- /.col-md-12 -->
				</div> <!-- /.row -->
			</div> <!-- /.col-md-8 -->

		

		</div> <!-- /.row -->
	</div> <!-- /.container -->	



	<script src="/static/js/jquery-1.10.2.min.js"></script>
	<script src="/static/js/jquery-migrate-1.2.1.min.js"></script>
	<script>
		$(document).ready(function() {
			$(".blog-posts").on("click", ".heart-container", function() {
				const postId = $(this).find("span.fa-heart-o").attr("id").split("-")[1];
				const heartIcon = $(this).find("#heart-" + postId);
	
				if (heartIcon.hasClass("like")) {
					// Already liked, so remove the like
					heartIcon.removeClass("like").addClass("fa-heart-o");
					console.log('Removed like from post with ID: ' + postId);
				} else {
					// Not liked, so add the like
					heartIcon.removeClass("fa-heart-o").addClass("like");
					console.log('Liked post with ID: ' + postId);
				}
			});
		});
	</script>



</body>

</html>